body {
  background-color: beige;
  text-align: center;
}

h1 {
  text-align: center;
}
p {
  text-align: center;
}
a {
  color: rgb(58, 58, 58);
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}
a:hover {
  text-decoration: underline;
}

.links {
  text-align: center;
}
