body {
  background-color: beige;
  text-align: center;
}

h1 {
  text-align: center;
}

a {
  color: #b24f00;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}
a:hover {
  text-decoration: underline;
}

.links {
  text-align: center;
}
.email {
  margin: auto;
  color: #b24f00;
}
.croissant-photo {
  max-width: 60%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
